@import '../core/variables';

.projects {
  background-image: url('../../images/fondo2.jpg');
  background-position: center;
  font-family: 'Neucha', Courier, monospace;
  background-size: cover;

  padding: 2rem 3rem;

  &__title {
    text-transform: uppercase;
    font-family: 'Neucha', Courier, monospace;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      font-size: 7rem;
    }
  }
  &__title:hover {
    transform: scale(1.8);
    color: white;
  }
  &__text {
    font-size: 1.8rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__article {
    background-color: rgb(170, 170, 170);
    border-radius: 0.6rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(12, 12, 12, 0.61);
    -moz-box-shadow: 0px 0px 7px 5px rgba(7, 7, 7, 0.61);
    box-shadow: 0px 0px 7px 5px rgba(10, 10, 10, 0.61);
    text-align: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-decoration: none;
    @media (min-width: 768px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    &--image {
      width: 100%;
      height: 55%;
    }
    &--name {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 0.5rem;
      @media (min-width: 768px) {
        font-size: 2rem;
      }
      @media (min-width: 1200px) {
        font-size: 2rem;
        margin-top: 2rem;
      }
    }
    &--description {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      text-decoration: none;
      color: black;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
      @media (min-width: 1200px) {
        font-size: 1.5rem;
      }
    }
    &--button {
      margin: 1rem 2.5rem;
      padding: 1rem;
      width: 8.2rem;
      background-color: var(--light);
      border: none;
      color: black;
      border-radius: 0.5rem;
      font-family: 'Neucha', serif;
      font-weight: bold;
      text-transform: uppercase;
      @media (min-width: 768px) {
        width: 10.1rem;
      }
      @media (min-width: 1200px) {
        margin-right: 2rem;

        width: 6.5rem;
      }
    }
    &--button:hover {
      cursor: pointer;
      transform: scale(1.4);
      color: var(--light);
      background-color: black;
    }
  }
}

.containerArticle {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
